<div class="sidebar filter" th:fragment="sidebar-menu-product">
  <ul class="list-unstyled">
    <li>
      <button class="btn btn-toggle border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#brand-collapse" aria-expanded="false">
        Thương hiệu
      </button>
      <div class="collapse" id="brand-collapse">
        <ul id="brandList" class="btn-toggle-nav list-unstyled fw-normal small">
          <li th:each="brand : ${brands}">
            <div class="form-check">
              <input class="form-check-input" name="brand" type="checkbox" th:value="*{brand.id}" th:brand="*{brand.brandName}" th:id="*{'brand-' + brand.id}" />
              <label class="form-check-label" th:for="*{'brand-' + brand.id}" th:text="*{brand.brandName}"></label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="btn btn-toggle border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-collapse" aria-expanded="false">
        Loại son
      </button>
      <div class="collapse" id="category-collapse">
        <ul id="categoryList" class="btn-toggle-nav list-unstyled fw-normal small">
          <li th:each="category : ${categories}">
            <div class="form-check">
              <input class="form-check-input" name="category" type="checkbox" th:value="*{category.id}" th:category="*{category.categoryName}" th:id="*{'category-' + category.id}" />
              <label class="form-check-label" th:for="*{'category-' + category.id}" th:text="*{category.categoryName}"></label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="btn btn-toggle border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Màu sắc
      </button>
      <div class="collapse" id="orders-collapse">
        <ul id="colorList" class="btn-toggle-nav list-unstyled fw-normal small">
          <li th:each="color : ${colors}">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" th:value="*{color.colorCode}" th:id="*{'color-' + color.id}" />
              <label class="form-check-label" th:for="*{'color-' + color.id}" th:text="*{color.colorName}"></label>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <button class="btn btn-toggle border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse-2" aria-expanded="false">
        Sắp xếp
      </button>
      <div class="collapse" id="account-collapse-2">
        <ul class="btn-toggle-nav list-unstyled fw-normal small">
          <li><a href="javascript:void(0)" th:onclick="'javascript:sort(\'productPrice\', \'ASC\')'" class="link-body-emphasis d-inline-flex text-decoration-none">Giá (thấp - cao)</a></li>
          <li><a href="javascript:void(0)" th:onclick="'javascript:sort(\'productPrice\', \'DESC\')'" class="link-body-emphasis d-inline-flex text-decoration-none">Giá (cao - thấp)</a></li>
        </ul>
      </div>
    </li>
    <li>
      <button class="btn btn-toggle border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Giá
      </button>
      <div class="collapse" id="account-collapse">
        <ul id="priceList" class="btn-toggle-nav list-unstyled fw-normal small">
          <li>
            <div class="form-check">
              <input class="form-check-input" name="price" type="radio" th:value="*{'123456'}" id="x1" />
              <label class="form-check-label" for="x1" th:text="*{'Dưới 1,000,000đ'}"></label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" name="price" type="radio" th:value="*{'123456'}" id="x2" />
              <label class="form-check-label" for="x2" th:text="*{'1,000,000đ - 2,000,000đ'}"></label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" name="price" type="radio" th:value="*{'123456'}" id="x3" />
              <label class="form-check-label" for="x3" th:text="*{'Trên 3,000,000đ'}"></label>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
