<div class="sidebar" th:fragment="sidebar-menu-user">
  <ul class="list-unstyled">
    <li class="mb-1">
      <a th:href="@{/user/account/profile}" class="active">
        <i class="fas fa-user fa-fw me-2"></i>Trang cá nhân
      </a>
    </li>
    <li class="mb-1">
      <a th:href="@{/user/account/update}">
        <i class="fas fa-user-edit fa-fw me-2"></i>Chỉnh sửa thông tin
      </a>
    </li>
    <li>
      <a th:href="@{/user/account/address}">
        <i class="fas fa-map-marked-alt fa-fw me-2"></i>Chỉnh sửa địa chỉ
      </a>
    </li>
  </ul>
  <ul id="order-status" class="list-unstyled">
    <li class="mb-1">
      <a th:href="@{/user/orders}">
        <i class="fas fa-bars fa-fw me-2"></i>
        <div>
          <div>Tất cả đơn hàng</div>
          <div class="badge-number" id="status-all">0</div>
        </div>
      </a>
    </li>
    <li class="mb-1">
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(1)'">
        <i class="fas fa-hourglass-half fa-fw me-2"></i>
        <div>
          <div>Chờ xác nhận</div>
          <div class="badge-number" id="status-1">0</div>
        </div>
      </a>
    </li>
    <li class="mb-1">
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(2)'">
        <i class="fas fa-check fa-fw me-2"></i>
        <div>
          <div>Đã xác nhận</div>
          <div class="badge-number" id="status-2">0</div>
        </div>
      </a>
    </li>
    <li class="mb-1">
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(3)'">
        <i class="fas fa-history fa-fw me-2"></i>
        <div>
          <div>Đang chuẩn bị</div>
          <div class="badge-number" id="status-3">0</div>
        </div>
      </a>
    </li>
    <li class="mb-1">
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(4)'">
        <i class="fas fa-paper-plane fa-fw me-2"></i>
        <div>
          <div>Đang giao hàng</div>
          <div class="badge-number" id="status-4">0</div>
        </div>
      </a>
    </li>
    <li class="mb-1">
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(5)'">
        <i class="fas fa-check-double fa-fw me-2"></i>
        <div>
          <div>Đã hoàn thành</div>
          <div class="badge-number" id="status-5">0</div>
        </div>
      </a>
    </li>
    <li class="mb-1">
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(6)'">
        <i class="fas fa-ban fa-fw me-2"></i>
        <div>
          <div>Đã huỷ</div>
          <div class="badge-number" id="status-6">0</div>
        </div>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(7)'">
        <i class="fas fa-share fa-fw me-2"></i>
        <div>
          <div>Trả hàng / Hoàn tiền</div>
          <div class="badge-number" id="status-7">0</div>
        </div>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" th:onclick="'javascript:getOrdersByStatus(8)'">
        <i class="fas fa-exclamation-circle fa-fw me-2"></i>
        <div>
          <div>Giao không thành công</div>
          <div class="badge-number" id="status-8">0</div>
        </div>
      </a>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li>
      <a th:href="@{/user/account/address}">
        <i class="fas fa-chart-line fa-fw me-2"></i>Thống kê
      </a>
    </li>
  </ul>
</div>
