<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title>Quản lý đơn hàng</title>
  <link rel="stylesheet" th:href="@{/css/user/order.css}"/>
</head>
<body>
  <th:block layout:fragment="content">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <div th:replace="~{component/client/sidebar-menu-user :: sidebar-menu-user}"></div>

          <div class="content content-my">
            <section id="orders">
              <div class="row">
                <th:block th:unless="${resultPage.isEmpty()}">
                  <div class="col-md-12 col-lg-12">
                    <div class="order panel" th:each="order : ${resultPage.content}">
                      <div class="order-header">
                        <h3>
                          <span class="order-code">Mã đơn hàng:<span class="text-danger ms-1" th:text="*{order.orderNumber}"></span></span>
                        </h3>
                        <div class="order-info">
                          <span class="order-time">
                            <i class="bi bi-calendar3-week me-1"></i><span th:text="${#dates.format(order.orderCreatedAt, 'dd-MM-yyyy')}"></span>
                            <i class="far fa-clock ms-2 me-1"></i><span th:text="${#dates.format(order.orderCreatedAt, 'HH:mm:ss')}"></span>
                          </span>
                        </div>
                      </div>
                      <div class="order-body">
                        <div class="items">
                          <div class="item" th:each="item : *{order.orderDetailList}">
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="icon-circle icon-small">
                                  <img class="media-object" th:src="@{'/images/products/' + *{item.productImage}}" alt="">
                                </div>
                                <div class="content-body">
                                  <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#foodDetailModal">
                                    <span th:text="*{item.productName + ' - ' + item.productColor}"></span>
                                  </a>
                                  <p>
                                    <span th:text="${#numbers.formatInteger(item.productPrice, 3, 'POINT')}"></span><sup>đ</sup>
                                    &nbsp<i class="bi bi-x"></i>&nbsp; Số lượng: <span th:text="*{item.quantity}"></span>
                                  </p>
                                </div>
                              </div>
                              <div>
                                <p class="m-0"><span th:text="${#numbers.formatInteger(item.amount, 3, 'POINT')}"></span><sup>đ</sup></p>
                              </div>
                            </div>
                          </div>
                          <div class="item">
                            <div class="d-flex justify-content-between align-items-center">
                              <div>
                                Tổng tiền đơn hàng
                              </div>
                              <div>
                                <span class="fw-medium" th:text="${#numbers.formatInteger(order.orderTotalAmount, 3, 'POINT')}"></span><sup>đ</sup>
                              </div>
                            </div>
                          </div>
                          <div class="item" th:unless="*{order.orderNote.isEmpty()}">
                            <div class="d-flex justify-content-between align-items-center">
                              <div>Ghi chú - lời nhắn</div>
                              <div class="w-75 text-end">
                                <span th:text="*{order.orderNote}"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="order-footer">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="secondary-text">
                            <span th:if="*{order.orderStatus.id == 1}" class="badge bg-info-subtle border-info-subtle text-info-emphasis" th:text="*{order.orderStatus.orderStatus}"></span>
                            <span th:if="*{order.orderStatus.id == 2}" class="badge bg-primary-subtle border-primary-subtle text-primary-emphasis" th:text="*{order.orderStatus.orderStatus}"></span>
                            <span th:if="*{order.orderStatus.id == 3 || order.orderStatus.id == 4}" class="badge bg-warning-subtle border-warning-subtle text-warning-emphasis" th:text="*{order.orderStatus.orderStatus}"></span>
                            <span th:if="*{order.orderStatus.id == 5}" class="badge bg-success-subtle border-success-subtle text-success-emphasis" th:text="*{order.orderStatus.orderStatus}"></span>
                            <span th:if="*{order.orderStatus.id == 6}" class="badge bg-danger-subtle border-danger-subtle text-danger-emphasis" th:text="*{order.orderStatus.orderStatus}"></span>
                            <span th:if="*{order.orderStatus.id == 7 || order.orderStatus.id == 8}" class="badge bg-secondary-subtle border-secondary-subtle text-secondary-emphasis" th:text="*{order.orderStatus.orderStatus}"></span>
                          </div>
                          <div class="text-end">
                            <a href="javascript:void(0)" class="btn btn-md btn-danger" data-bs-toggle="modal" data-bs-target="#userCancelOrderModal">
                              Huỷ đơn hàng
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </th:block>
                <th:block th:if="${resultPage.isEmpty()}">
                  <div class="text-center d-flex justify-content-center align-items-center">
                    <div>
                      <i class="bi bi-list-check" style="font-size: 70px;"></i>
                      <h3 class="text-center mb-4">Hiện tại không có đơn hàng nào.</h3>
                    </div>
                  </div>
                </th:block>
              </div>
            </section>

            <section id="pagination" class="container mt-4 mb-4" th:if="${resultPage.totalPages > 1}">
              <div th:replace="~{component/pagination :: pagination}"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </th:block>

  <th:block layout:fragment="js">
    <script th:src="@{/js/user/user2.js}"></script>
  </th:block>
</body>
</html>