/**
 * COLOR ---------------------------------------------------------------------------------------------------------------
 */

html[data-bs-theme='light'] {
  /* bootstrap custom -------------------------------- */
  --bs-body-bg: #F0F2F5;
  --bs-tertiary-bg: #F0F2F5;

  /* background-color -------------------------------- */
  --secondary-bg-color: #FFF;
  --third-bg-color: #ECEFF3;

  --dropdown-menu-bg-color: #FFF;

  /* line-border-color ------------------------------- */
  --line-border-color: #E3E3E3;

  /* border-color ------------------------------------ */
  --primary-border-color: transparent;
  --secondary-border-color: #E3E3E3;
  --bs-border-color: #E3E3E3;

  /* badge-number-background-color ------------------- */
  --badge-number-background-color: #FFFFFF;

  /* button-circle-background-color ------------------ */
  --btn-circle-background-color: #E9EEF3;

  /* text-color -------------------------------------- */
  --primary-text: #050505;
  --secondary-text: #4F5256;

  --shadow-button: rgb(231 235 244 / 55%);
  --shadow-1: rgb(0 0 0 / 10%);
  --shadow-2: rgb(0 0 0 / 20%);
  --shadow-inset: rgb(255 255 255 / 50%);

  --scrollbar-thumb-color: #C2C2C2;
}

html[data-bs-theme='dark'] {
  /* bootstrap custom -------------------------------- */
  --bs-body-bg: #212529;
  --bs-tertiary-bg: #3A3F45;

  /* background-color -------------------------------- */
  --secondary-bg-color: #2C3035;
  --third-bg-color: #3A3F45;

  --dropdown-menu-bg-color: #2D3035;

  /* line-border-color ------------------------------- */
  --line-border-color: #495057;

  /* border-color ------------------------------------ */
  --primary-border-color: transparent;
  --secondary-border-color: #444;
  --bs-border-color: #495057;

  /* badge-number-background-color ------------------- */
  --badge-number-background-color: #2D3035;

  /* button-circle-background-color ------------------ */
  --btn-circle-background-color: #3C4146;

  /* text-color -------------------------------------- */
  --primary-text: #E4E6EB;
  --secondary-text: #B0B3B8;

  --shadow-button: rgb(58 59 60 / 55%);
  --shadow-1: rgb(0 0 0 / 10%);
  --shadow-2: rgb(0 0 0 / 20%);
  --shadow-inset: rgb(255 255 255 / 5%);

  --scrollbar-thumb-color: #636568;
}

.text-irish {
  color: #52b76c;
}