/**
 * TABLE ---------------------------------------------------------------------------------------------------------------
 */

.table {
  width: 100%;
  margin-bottom: 20px;
  color: #212529;
}

.table>thead>tr>th {
  border-bottom: 2px solid var(--line-border-color);
  color: var(--primary-text) !important;
  font-weight: 500;
}

.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>th {
  padding: 10px;
  line-height: 1.45;
  border-top: 1px solid var(--line-border-color);
  color: var(--secondary-text);
  font-size: 16px;
  vertical-align: middle;
}

.table>thead>tr>th:hover {
  cursor: pointer;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.table>thead>tr>th:focus {
  outline: none;
}

.table>thead>tr>th>i {
  margin-left: 8px;
}

.table>thead>tr>th>i.fa-size {
  font-size: 13px;
  padding-top: 5px;
}


/**
 * TABLE BORDER --------------------------------------------------------------------------------------------------------
 */

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 1px solid var(--line-border-color);
}
