/*
 * ORDERS --------------------------------------------------------------------------------------------------------------
 */

#orders .order {
  margin-bottom: 16px;
}

#orders .order.panel {
  padding: 16px 20px 20px;
  border-radius: 12px;
  background-color: var(--secondary-bg-color);
}

#orders .order.panel .panel-content {
  padding: 12px 0;
  border-bottom: 1px solid var(--line-border-color);
  align-items: center;
}

#orders .order.panel .panel-content:last-child {
  border-bottom: none;
}

#orders .order .order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--line-border-color) !important;
}

#orders .order .order-header h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

#orders .order .order-header .order-info .order-code {
  text-transform: uppercase;
  font-weight: 400;
}

#orders .order .order-footer {
  padding-top: 18px;
}

#orders .order .order-footer .badge {
  font-size: 15px;
  font-weight: 500;
  padding: 11px 14px;
  border-radius: 30px;
  text-transform: uppercase;
}


/* ITEM */

#orders .order .order-body .items .item {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--line-border-color) !important;
}

#orders .order .order-body .items .item .content-body a {
  color: var(--bs-body-color);
}

#orders .order .order-body .items .item .content-body p {
  font-size: 14px;
  color: var(--secondary-text);
  margin-top: 2px;
  margin-bottom: 0;
}

#orders .order .order-body .items .item .icon-small img {
  width: 52px;
  height: 52px;
}

#orders .order .order-body .items .item .icon-circle img {
  border-radius: 6px;
  margin-right: 16px;
}
