/**
 * COLOR ---------------------------------------------------------------------------------------------------------------
 */

html[data-bs-theme='light'] {
  /* bootstrap custom -------------------------------- */
  --bs-tertiary-bg: #F0F2F5;

  /* line-border-color --------------------- */
  --line-border-color: #E3E3E3;

  /* border-color ------------------------------------ */
  --primary-border-color: transparent;
  --secondary-border-color: #DEE2E6;

  /* badge-number-background-color ------------------- */
  --badge-number-background-color: #FFFFFF;

  /* button-circle-background-color ------------------ */
  --btn-circle-background-color: #DEE2E6;

  /* text-color -------------------------------------- */
  --primary-text: #050505;
  --secondary-text: #65676B;

  --shadow-button: rgb(228 230 235 / 55%);
}

html[data-bs-theme='dark'] {
  /* bootstrap custom -------------------------------- */
  --bs-tertiary-bg: #2B3035;

  /* sub-nav-border-bottom-color --------------------- */
  --line-border-color: #676F79;

  /* border-color ------------------------------------ */
  --primary-border-color: transparent;
  --secondary-border-color: #3A3B3C;

  /* badge-number-background-color ------------------- */
  --badge-number-background-color: #242526;

  /* button-circle-background-color ------------------ */
  --btn-circle-background-color: #3A3B3C;

  /* text-color -------------------------------------- */
  --primary-text: #E4E6EB;
  --secondary-text: #B0B3B8;

  --shadow-button: rgb(58 59 60 / 55%);
}