/**
 * GRID ----------------------------------------------------------------------------------------------------------------
 */

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 8px;
  padding-left: 8px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.row>* {
  padding-right: 8px;
  padding-left: 8px;
}

@media (max-width: 575.98px) {
  .row>* {
    padding-right: 8px;
    padding-left: 8px;
  }
}


/* CUSTOM COL */

.col-xl-2-4 {
  flex: 0 0 auto;
  width: 20%;
}

@media (max-width: 1199.98px) {
  .col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}

@media (max-width: 991.98px) {
  .col-md-2-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
}

@media (max-width: 767.98px) {
  .col-sm-2-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
}

@media (max-width: 575.98px) {
  .col-2-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}


/**
 * HEADER --------------------------------------------------------------------------------------------------------------
 */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}


/**
 * HR ------------------------------------------------------------------------------------------------------------------
 */

hr {
  opacity: 0.2;
  margin: 12px 0;
}


/**
 * SPACE ---------------------------------------------------------------------------------------------------------------
 */

.fa-fw {
  width: 22px;
}

.mr-12px {
  margin-right: 12px !important;
}


/**
 * LINK ----------------------------------------------------------------------------------------------------------------
 */

a {
  text-decoration: none;
}


/**
 * TABLE ---------------------------------------------------------------------------------------------------------------
 */

.table {
  --bs-table-bg: var(--secondary-bg-color);
}


/**
 * DROPDOWN ------------------------------------------------------------------------------------------------------------
 */

.dropdown-menu {
  font-size: 15px;
  border-radius: 8px;
  background-color: var(--dropdown-menu-bg-color);
  border-color: transparent;
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1), inset 0 0 0 1px var(--shadow-inset);
}

.dropdown-menu .active .bi {
  display: block !important;
}

.dropdown-toggle::after {
  vertical-align: .2em;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-color);
  background-color: var(--bs-tertiary-bg);
}


/*
 * MODAL ---------------------------------------------------------------------------------------------------------------
 */

.modal-backdrop.show {
  opacity: .75;
}

.modal-content {
  border-radius: 12px;
  border: none;
}

.modal-content .btn-close {
  background: transparent;
  color: var(--primary-text);
  font-size: 20px;
  display: flex;
}

.modal-content .btn-close:focus {
  box-shadow: none;
}

.modal-content .modal-header .modal-title,
.modal-content .modal-sub-title {
  font-weight: 400;
  font-size: 20px;
}

.modal-content .modal-header {
  /*border-bottom: 1px solid transparent;*/
  padding: 12px 16px;
}

.modal-content .modal-footer {
  /*border-top: 1px solid transparent;*/
  padding: 16px;
}

.modal-footer>* {
  margin: 0;
}

#confirmModal .modal-dialog {
  width: 380px;
}

#confirmModal .modal-dialog .modal-content .modal-footer a{
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}


/**
 * NAV -----------------------------------------------------------------------------------------------------------------
 */

.border-bot-shadow {
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 40%);
}

.border-bot-solid {
  border-bottom: 1px solid var(--line-border-color);
}

nav .key-search {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
}

nav.navbar {
  --bs-navbar-nav-link-padding-x: 0.65rem
}

nav.navbar sup {
  top: -0.75em;
  right: 2px;
}

nav.navbar .badge {
  --bs-badge-padding-x: 0.55em;
}

nav.navbar .bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
  display: inline-flex;
}

nav.navbar #search-product {
  display: none;
}


/**
 * SUB NAV -------------------------------------------------------------------------------------------------------------
 */

.fixed-top-sub-nav {
  position: fixed;
  top: 56px;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 40%);
}

.fix-sub-nav {
  margin-top: 56px;
}

.sub-nav .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sub-nav .nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  font-weight: 500;
}

.sub-nav .col>div {
  border-bottom: 1px solid var(--line-border-color);
}

.sub-nav.fixed-top-sub-nav .col>div {
  border-bottom: 1px solid transparent;
}


/*
 * SIDEBAR -------------------------------------------------------------------------------------------------------------
 */

.sidebar {
  width: 300px;
  margin-top: 100px;
}

.sidebar>ul {
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
  background-color: var(--secondary-bg-color);
}

.sidebar>ul>li>a {
  padding: 8px 10px 8px 12px;
  font-weight: 500;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
}

.sidebar>ul li a:hover,
.sidebar>ul li a:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.sidebar>ul li a>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar>ul li a>div .badge-number {
  background-color: var(--bs-tertiary-bg);
  font-size: 13px;
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 4px 6px;
}

.sidebar>ul li a:hover .badge-number {
  background-color: var(--badge-number-background-color);
}

.sidebar>ul li a.active .badge-number {
  background-color: var(--badge-number-background-color);
}

.sidebar .fa-fw {
  text-align: left !important;
}


/*
 * LINK ----------------------------------------------------------------------------------------------------------------
 */

.page-link {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity));
}


/*
 * PAGINATION ----------------------------------------------------------------------------------------------------------
 */

.page-link {
  border-radius: 8px !important;
}

.page-item .page-link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px !important;
}

.active>.page-link, .page-link.active {
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
  border-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity, 1)) !important;
}

.page-link:hover {
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity, 1));
  background-color: var(--bs-pagination-hover-bg);
  border-color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity, 1));
}


/**
 * FOOTER --------------------------------------------------------------------------------------------------------------
 */

#footer .f-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .f-top img {
  height: 45px;
  margin-bottom: 7px;
}

#footer h6 {
  margin-bottom: 13px;
  margin-top: 20px;
  font-size: 1rem;
}

#footer h6:hover {
  color: #ffcf5c;
}

#footer .info ul,
#footer .social ul {
  padding: 0;
}

#footer .info ul li,
#footer .social ul li {
  list-style: none;
  padding: .15rem 0;
}

#footer .course ul {
  padding-left: 18px;
}

#footer .course ul li {
  padding: .15rem 0;
}

#footer .social ul li a {
  margin-right: 16px;
}

#footer .social ul li a:hover {
  text-decoration: none;
}

#footer .social ul li a i {
  font-size: 40px;
}

#footer .social ul li a.btn i {
  font-size: 16px;
}

@media (max-width: 575.98px) {
  #footer .f-top {
    padding: 3rem 0 2.5rem;
  }
}


/**
 * COVER ---------------------------------------------------------------------------------------------------------------
 */

#cover {
  padding: 100px 0 30px;
}

#cover .title {
  font-family: "Noto Sans", "AdihausDIN", "Helvetica", Arial, sans-serif !important;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
}

#cover .title .title-quantity {
  font-size: 16px;
  font-style: normal;
  color: #767677;
  font-weight: 300;
}

#cover .title-description {
  max-width: 1000px;
}

#cover .title-description p {
  margin-bottom: 12px;
}

/* RESPONSIVE */

@media (max-width: 575.98px) {
  #cover {
    padding: 80px 0 10px;
  }
}


/**
 * TITLE ---------------------------------------------------------------------------------------------------------------
 */

.fix-mt-title {
  margin-top: 16px !important;
}

.fix-mb-title {
  margin-bottom: 16px !important;
}

.title {
  font-size: 22px;
  margin-bottom: 0;
}


/**
 * BUTTON --------------------------------------------------------------------------------------------------------------
 */

.btn {
  border-radius: 8px;
}

/* BUTTON ACTION - REMOTE */

.btn-remove,
.btn-action {
  position: absolute;
  right: 20px;
  top: 12px;
}

.btn-remove a,
.btn-remove i {
  font-size: 16px;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  display: inline-block;
  transition: 0.3s;
}

.btn-remove a:hover i {
  color: #DC3545;
}

.btn-action a,
.btn-action i {
  font-size: 16px;
  color: #198754;
  display: inline-block;
  transition: 0.3s;
}

.btn-action a:hover i {
  color: #27D016;
}


/* BUTTON CIRCLE */

.btn-circle {
  width: 40px;
  height: 40px;
  background-color: var(--btn-circle-background-color);
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
  transition: .3s;
  position: relative;
  display: inline-block;
}

.btn-circle i {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-circle:hover {
  box-shadow: 0 0 0 4px var(--shadow-button);
}


/**
 * RIGHT CONTENT -------------------------------------------------------------------------------------------------------
 */

.content {
  width: calc(100% - 320px);
}

.content-my {
  margin-top: 100px;
  margin-bottom: 30px;
}
