/**
 * Cover Title ---------------------------------------------------------------------------------------------------------
 */

#cover {
  padding: 60px 0 50px;
}

#cover .title {
  font-family: "Noto Sans", "AdihausDIN", "Helvetica", Arial, sans-serif !important;
  font-size: 48px;
  font-style: italic;
  text-transform: uppercase;
}

#cover .title .title-quantity {
  font-size: 14px;
  font-style: normal;
  color: #767677;
  font-weight: 300;
}

#cover .title-des {
  max-width: 800px;
}


/**
 * Sub Nav -------------------------------------------------------------------------------------------------------------
 */

.sub-nav .col>div {
  border-bottom: 1px solid var(--bs-secondary-text-emphasis);
}