/*
 * CONTENT -------------------------------------------------------------------------------------------------------------
 */

.content {
  width: calc(100% - 284px);
}

#cover {
  padding: 100px 0 20px
}

#cover .title {
  font-size: 36px;
}

#sub-nav .sub-nav-left li {
  display: none;
}


/*
 * PROFILE -------------------------------------------------------------------------------------------------------------
 */

#profile {
  padding: 126px 0 50px;
}

#profile .profile-info {
  margin-top: 6px;
  margin-bottom: 20px;
}

#profile .profile-info .panel {
  padding: 6px 20px;
  border-radius: 12px;
  background-color: var(--secondary-bg-color);
}

#profile .profile-info .panel .panel-content {
  padding: 12px 0;
  border-bottom: 1px solid var(--line-border-color);
  align-items: center;
}

#profile .profile-info .panel .panel-content:last-child {
  border-bottom: none;
}

#profile .profile-info .panel p {
  margin: 0;
  width: 100%;
}

#profile .address-list .name {
  font-family: "Noto Sans", "AdihausDIN", "Helvetica", Arial, sans-serif !important;
  font-size: 28px;
  text-transform: uppercase;
}

#profile .address-list .mobile,
#profile .address-list .address {
  font-size: 16px;
  font-style: normal;
}

#profile .address-list .address {
  letter-spacing: 1px;
}

#profile .address-list .badge {
  padding: 8px 12px;
  font-size: 14px;
}
