<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-icons.min.css}"/>
  <title>Auth</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Welcome</h2>
        <div class="d-flex">
          <a class="me-2" th:href="@{/}">Home</a> | <a class="ms-2" th:href="@{/logout}">Logout</a>
        </div>

        <hr/>

        <div sec:authorize="isAuthenticated()">
          Text visible only to authenticated users.
        </div>

        <hr/>

        <div sec:authorize="hasAnyRole('MEMBER', 'ADMIN', 'EMPLOYEE')">
          Text visible to MEMBER, ADMIN or EMPLOYEE.
        </div>

        <hr/>

        <div sec:authorize="hasRole('ADMIN')">Text visible to ADMIN.</div>
        <div sec:authorize="hasRole('MEMBER')">Text visible to MEMBER.</div>
        <div sec:authorize="hasRole('EMPLOYEE')">Text visible to EMPLOYEE.</div>

        <hr/>

        <h5 class="mb-3">Get user info using Thymeleaf</h5>
        <table class="table table-bordered">
          <tr>
            <td>USERNAME</td>
            <td>sec:authentication="name"</td>
            <td><span sec:authentication="name"></span></td>
          </tr>
          <tr>
            <td>USERNAME</td>
            <td>sec:authentication="principal.username"</td>
            <td><span sec:authentication="principal.username"></span></td>
          </tr>
          <tr>
            <td>ROLE</td>
            <td>sec:authentication="principal.authorities"</td>
            <td><span sec:authentication="principal.authorities"></span></td>
          </tr>
        </table>

        <hr/>

        <h5 class="mb-3">Get user info using Spring Security</h5>
        <table class="table table-bordered">
          <tr>
            <td>USERNAME</td>
            <td>th:text="${username}"</td>
            <td><span th:text="${username}"></span></td>
          </tr>
          <tr>
            <td>ROLE</td>
            <td>th:text="*{role}"</td>
            <td th:each="role : ${userRole}"><span th:text="*{role}"></span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>