<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
  <title>Sản phẩm</title>
  <link rel="stylesheet" th:href="@{/css/pages/client/products.css}"/>
</head>
<body>
  <th:block layout:fragment="content">
    <section id="cover">
      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <h1 class="title mb-3">
              <span th:text="${title}"></span>
              <span class="ms-1 title-quantity text-danger" th:text="'[' + ${productPage.content.size()} + ']'"></span>
            </h1>
            <div class="title-description mb-3" th:utext="${description}"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="sub-nav" class="sub-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-between">
              <ul class="nav nav-underline">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Thương hiệu
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start mt-1">
                    <li th:each="brand : ${brands}">
                      <a class="dropdown-item" th:href="@{/products(brandIds=*{brand.id})}" th:text="*{brand.brandName}"></a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Loại son
                  </a>
                  <ul class="dropdown-menu dropdown-menu-start mt-1">
                    <li th:each="category : ${categories}">
                      <a class="dropdown-item" th:href="@{/products(categoryIds=*{category.id})}" th:text="*{category.categoryName}"></a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav nav-underline">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sắp xếp theo
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end mt-1">
                    <li>
                      <a class="dropdown-item" th:href="@{/lipstick/sort(type=desc)}"><i class="fas fa-sort-amount-down-alt fa-fw me-1"></i>Giá (cao - thấp)</a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{/lipstick/sort(type=asc)}"><i class="fas fa-sort-amount-down fa-fw me-1"></i>Giá (thấp - cao)</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="products">
      <div class="container">
        <div class="row">
          <th:block th:unless="${productPage.isEmpty()}">
            <div class="col-6 col-md-4 col-lg-3" th:each="product : ${productPage.content}">
              <a class="card" th:href="@{'/lipstick/detail/' + *{product.id}}">
                <img th:src="@{'/images/products/' + *{product.productImage}}" class="card-img-top rounded-3" alt="...">
                <div class="card-body">
                  <h5 class="card-title product-title">
                    <span th:text="*{product.productName + ' - ' + product.productColor}"></span>
                  </h5>
                  <h5 class="product-price text-danger">
                    <span th:text="*{#numbers.formatInteger(product.productPrice, 3, 'POINT')}"></span><sup>đ</sup>
                  </h5>
                </div>
              </a>
            </div>
          </th:block>
          <th:block th:if="${productPage.isEmpty()}">
            <div th:replace="~{component/product-not-found :: product-not-found}"></div>
          </th:block>
        </div>
      </div>
    </section>

    <div th:replace="~{component/pagination :: pagination}"></div>
  </th:block>
  <th:block layout:fragment="js">
    <script th:src="@{/js/pages/client/product.js}"></script>
  </th:block>
</body>
</html>